@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(2200px);
    }
    to {
        opacity: 1;
        transform: translateX(100px);
    }

}

.animation-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.animation-left {
    animation-name: left;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.botoesUp {
    animation-delay: 800ms;
}

#painelTopo {
    animation-delay: 300ms;
}

#bemvindo {
    animation-delay: 300ms;
}

#coordenador {
    animation-delay: 1200ms;
}



@media (max-width: 576px) {

   .btn.btn-primary.bt01 {
       border: 10px solid black;
       width: 100%;
   }
}

@media (min-width: 576px) {

   

}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}